/* SIDE NAVIGATION */
.sidenav_head {
    position: fixed;
    background-color: rgb(129, 51, 136);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    height: 100vh;
    width: 15%;
}
.sidenav_wrapper{
    width: 100%;
}
.sidenav {
    display: flex;
    flex-direction: column;
}

/* BRANDING  */
.sidenav_head .branding {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0px;
    border-bottom: 1px solid #fceb37;
}
.branding .logo {
    margin-right: 5px;
}
.branding .logo img {
    width: 100%;
    height: 37px; 
    object-fit: cover; 
}
.branding h4, .branding h5 {
    color: #ffffff;
    left: 35px;
}
.branding_title h4 {
    font-size: 1rem;
}
.branding_title h5 {
    font-size: .9rem;
    opacity: 0.8;
}

/* NAVIGATION LIST  */
.navlist {
    padding: 1rem 0rem;
    list-style: none;
}
.navlist .navlist_item {
    margin: 1rem 0rem;
}
.navlist .navlist_item .navlink {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.navlist .navlist_item .navlink:hover {
    font-size: 1.4rem;
    transition: .1s;
}
.navlist .navlist_item:nth-child(7) {
    border-top: 1px solid #fceb37;
    padding-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .sidenav_wrapper {
        flex-direction: column; /* Stack branding and links vertically on mobile */
        text-align: center;
    }
}